@import "fonts";

$terminal-username-color: #49ec0f;
$terminal-dir-color: #0e7aef;

* {
  font-family: 'Source Code Pro', Sans-Serif, serif;
  font-weight: normal;
  font-style: normal;
  box-sizing: border-box;
  overflow: -moz-scrollbars-none !important;
  -ms-overflow-style: none !important;
}

::-webkit-scrollbar {
  width: 0 !important
}


* {
  margin: 0;
  padding: 0;
}

body, main {
  height: 100vh;
  width: 100vw;
}


#terminal {
  position: absolute;
  overflow-y: scroll;
}

#terminal {
  :global(#username) {
    color: $terminal-username-color;
  }

  :global(#computer) {
    color: $terminal-username-color;
  }

  :global(.directory) {
    color: $terminal-dir-color;
  }

  a {
    color: white;
    transition: color 500ms;
  }

  a:hover {
    color: #5e5e5e;
  }

  color: white;
  white-space: pre-line;
  z-index: 0;
  background: black;
  height: 100%;
  width: 100%;
  padding: 6px;
}

.cursor::after {
  content: "█"
}

:global(.hidden) {
  opacity: 0;
}

:global(.visible) {
  opacity: 1;
}

:global(#notification) {
  transition: opacity 500ms ease-in-out;
  position: absolute;
  z-index: 101;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.25);
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  color: white;
  display: none;
}


/* Shared classes */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

.scaleIn {
  transform: scale(0);
  opacity: 0;
  transition: all 400ms;
}

.scaleIn.animate {
  transform: scale(1);
  opacity: 1;
}
